@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime";
}

.container {
  margin: auto;

  margin-bottom: 100px;
  width: 800px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  font-size: 2.2rem;
  margin: 40px;
}
.nav {
  display: flex;
  flex-direction: row;
  background-color: orange;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav li {
  padding: 12px;
  margin: 15px;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  border-bottom: 2px solid black;
}

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.intro img {
  width: 133px;
}

p {
  margin: 15px;
  padding: 12px;
  line-height: 1.5;
}

.messagebox {
  padding: 12px;
  margin-bottom: 15px;
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  width: 100%;
  border-top: 2px solid orange;
}

.form img {
  width: 100px;
  height: 100px;
  margin-top: -50px;
}
.form h1 {
  font-size: 2.2rem;
  margin: 40px;
}

.namebox {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 15px;
  justify-content: space-between;
}

input[type="text"]:focus {
  background-color: darkgray;
}

.name {
  padding: 12px;
  background-color: white;
  outline: none;
  border: 2px solid darkgray;
  font-size: 1.2rem;
}
.box {
  padding: 12px;
  margin: 15px;
  width: 70%;
  background-color: white;
  outline: none;
  border: 2px solid darkgray;
  font-size: 1.2rem;
  border: 1px solid black;
}

.submit {
  padding: 12px 30px;
  width: 40%;
  margin-top: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
}

.submit:hover {
  cursor: pointer;
  background-color: orange;
}

.form a {
  text-decoration: none;
  color: black;
  margin-top: 30px;
}

.form a:hover {
  color: orange;
}

.charlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid orange;
}

.charbox {
  border: 2px solid orange;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px;
}
